@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Passion+One:wght@700&family=Sriracha&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Passion+One:wght@700&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.principal {
    width: 98.7vw;
    height: 110vh;
    font-size: 0.9em;
    font-family: 'Lato', sans-serif;
}

.principal {
    background-image: linear-gradient(to right, rgba(17, 17, 17, 0.8) , rgba(20, 20, 20, 1)), url(imagens/pexels-victor-freitas-949129.jpg);

    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    padding: 10px;
}

header h2 {
    color: white;
    font-size: clamp(1.2em, 2vw, 1.9em)
}

menu {
    display: flex;
    gap: 20px;
    font-size: clamp(1.2em, 1.5vw, 1.4em);   
    flex-wrap: nowrap;
}


menu a {
    color: white;
    text-decoration: none;
}

.escondido {
    display: none;
}

menu a:hover {
    border-bottom: 1px solid rgb(255, 115, 0);
    transform: scale(1.1);
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 230px;
    gap: 30px;
}

main h1 {
    color: rgb(255, 115, 0);
    font-size: clamp(1.8em, 3vw, 3em);
    justify-content: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.479);
}

main p {
    background-color: lightgray;
    font-weight: 700;
    padding: 3px;
    font-size: clamp(0.9em, 1.5vw, 1.3em);
}

.botoes {   
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.botoes a {
    text-decoration: none;
    color: white;
    font-size: clamp(1.3em, 1.5vw, 1.8em);

    border: 1px solid white;
    border-radius: 15px;
    padding: 10px 20px;
}

.botoes a:hover {
    background-image: linear-gradient(to right, rgb(56, 56, 56), rgb(51, 51, 51)) ;
    color: rgb(255, 115, 0);
    font-weight: bold;
    border: none;
}

.horario-tudo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.horario {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 30px;


    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(185, 185, 185));
    margin-top: 90px;  
}

.icones {
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

.icones img {
    width: 9vw;
    max-width: 10vw;
}

.icones img:hover {
    background-color: rgb(255, 236, 65);
    border-radius: 50px;
    transform: scale(1.1);
    padding: 2px;
    transition: all 0.2s ease-in;
}

#funcionamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#funcionamento h2 , td {
    font-family: 'Baloo 2', cursive;
}

#funcionamento table{
    border-collapse: collapse;
    width: 30vw;
}

#funcionamento table td {
    border-top: 1px solid rgb(146, 146, 146);
    padding: 10px 30px 10px 0px ;
    font-weight: 600;
}

#funcionamento table .hora {
    text-align: end;
}

.planos {
    width: 130px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    padding: 10px 0px 30px 0px;
    margin-bottom: 40px;

    border: 3px solid rgb(255, 115, 0);
    border-radius: 10px;
    font-family: 'Baloo 2', cursive;
} 

.planos h3 {
    display: block;
    margin: auto;
    border-bottom: 2px solid rgb(255, 115, 0);
    width: 120px;

}

.planos h4 {
    display: block;
    margin: auto;
    border-bottom: 2px solid rgb(255, 115, 0);
    width: 120px;

}

.real {
    display: inline;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

#endereço {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    font-family: 'Baloo 2', cursive;
}

#endereço p {
    font-family: 'Baloo 2', cursive;
    font-weight: 600;
    font-size: 18px;
}

#endereço iframe {
    display: block;
    margin: auto;
    min-width: 300px;
    width: 30vw;
}

.app {
    background-image: linear-gradient(to bottom, rgb(185, 185, 185), rgb(31, 31, 31));
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.app img {
    width: 80vw;
    max-width: 600px;
}

.app h2,p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.app h2 {
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.473);
    font-size: clamp(1.4em, 3vw, 1.9em)
}

.app p{
    font-size: clamp(1.2em, 1.5vw, 1.9em)
}

.download {
    display: flex;
    flex-direction: row;
    width: 40vw;
    gap: 60px;
    justify-content: center;
}

#professor {
    background-image: linear-gradient(to right, rgba(17, 17, 17, 0.8) , #2B2A29), url(imagens/personal.jpg);
    background-size: cover;
    background-attachment: scroll;
    height: 180vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 520px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#professor h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.4em, 3vw, 1.9em);
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.432);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
    padding-top: 20px;
}

#professor p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: clamp(1.2em, 1.5vw, 1.9em);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;

}


#frase h2 {
    color: rgb(255, 102, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.507);
    font-family: 'Baloo 2', cursive;
    padding: 20px;
    text-align: center;
    font-size: clamp(1em, 3vw, 1.9em)
}

footer {
    background-color: rgb(14, 14, 14);
    color: white;
    padding: 10px;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgb(0 0 0);
}

footer p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
}

@media screen and (max-width: 600px) {

    body {
        width: 100vw;
    }

    .principal {
        height: 700px;
    }

    header {
        margin-left: 10px;
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        gap: 40px;
        justify-content: space-between;
    }

    header h2 {
        text-align: center;
        width: 60px;
        text-align: left;
    }

    main {
        display: flex;
        flex-direction: column;
        padding-top: 150px;
    }

    menu {
        padding-top: 30px;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 0px;
    }

    aside .icones {
        display: none;
    }

    aside #funcionamento {
        margin-bottom: 80px;
    }

    #funcionamento table {
        width: 83vw;
        
    }

    .download {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .download img {
        width: 50vw;
    }

    .contato {
        background-image: linear-gradient(to bottom, rgb(255, 102, 0), rgb(173, 69, 0));
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 15px 0px 15px 0px;
    }
    .contato img {
        width: 15vw;
    }

    .contato img:hover {
        background-color: white;
        border-radius: 30px;
        padding: 2px;
    }

    #endereço iframe {
        padding-bottom: 80px;
    }

    #professor {
        background-image: linear-gradient(to right, rgba(17, 17, 17, 0.8) , rgba(20, 20, 20, 1)), url(imagens/personal.jpg);
        background-size: cover;
        background-attachment: scroll;
        height: 180vw;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 520px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #professor h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: clamp(1.4em, 3vw, 1.9em);
        text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.432);
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px black;
        padding-top: 20px;
    }

    #professor p {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: clamp(1.2em, 1.5vw, 1.9em);
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 1px black;

    }
}






